

<ng-container *ngIf="siteList$ | async as siteList">
  <main>
    <section class="container">

      <mat-card
        *ngFor="let site of siteList"
        [routerLink]="['/' , site?.id]"
      >
        <mat-card-header>


          <mat-card-title>
            {{ site?.name }}
          </mat-card-title>


        </mat-card-header>

        <img
            height="300"
            width="300"
            mat-card-avatar
            loading="lazy"
            [src]="site?.wikipedia"
            alt="Wiki pic of {{ site?.name }}"
          />


      </mat-card>
    </section>
  </main>
</ng-container>






