

<ng-container *ngIf="siteList$ | async as siteList">
  <main>
    <section class="container">

      <mat-card
        *ngFor="let site of siteList"
        [routerLink]="['/' , site?.id]"
      >
        <mat-card-header>


          <mat-card-title>
            {{ site?.name }}
          </mat-card-title>
          <mat-card-subtitle>
            {{site?.status}}
          </mat-card-subtitle>

        </mat-card-header>

        <a [href]="site?.wikipedia">Wikipedia Link</a>




          <p matCardContent>{{ site?.details }}</p>

      </mat-card>
    </section>
  </main>
</ng-container>






